.overlay {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.8);
    z-index: 103;
    height: 100vh;
    width: 100%;
    
  }

.cart {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 380px;
    background-color: #fff;
    z-index: 103;
    height: 100vh;
    padding: 30px;
  
    h2 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 30px;
    }
  }
  
  .cart__items {
    overflow: auto;
    margin-bottom: 30px;
  }
  
  .cart__item {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .cart__item-img {
    width: 30%;
  }
  
  .cart__item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  
    p {
      font-size: 14px;
    }
    span {
      font-size: 16px;
      font-weight: 700;
    }
  }
  
  .cart__item-delete-btn {
    margin-left: auto;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 8px;
    padding: 2px;
    min-width: 32px;
    min-height: 32px;
    transition: background 0.2s ease-in;
  
    img {
      opacity: 0.5;
      transition: opacity 0.2s ease-in;
    }
  
    &:hover {
      background: #d7d7d7;
      img {
        opacity: 0.7;
      }
    }
  }
  
  .cart__bottom {
    margin-top: auto;
  }
  
  .cart__total-price {
    display: flex;
    justify-content: space-between;
  }
  
  .cart__price {
    font-weight: 700;
  }
  
  .cart__bottom-btn-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .cart__bottom-btn {
    background: black;
    color: #fff;
    padding: 10px 10px;
    border-radius: 8px;
    width: 100%;
    transition: opacity .2s ease-in;
  
    &:hover {
      opacity: .7;
    }
  }
  
  .cart__close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }