.cards__item {
    background: #fff;
    max-width: 230px;
    border-radius: 10px;
    padding: 20px;
  }
  
  .cards__item-brand {
    font-weight: bold;
    padding: 10px 0;
  }
  
  .cards__item-model {
    padding-bottom: 10px;
    min-height: 53px;
    max-height: 53px;
  }
  
  .cards__item-price {
    font-size: 18px;
  }
  
  .cards__item-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cards__item-btn {
    background-color: #202020;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    position: relative;
    z-index: 101;
    transition: opacity background .2s ease-in;
  
    &:hover {
      opacity: 0.6;
    }

    &--active {
      background-color: #fff;
      border: 1px solid #ffffff;
      border-radius: 8px;
      min-height: 32px;
      min-width: 32px;
      
      z-index: 101;
      transition: opacity .2s ease-in;
    }
  }
  
  .card__item-favorit {
    width: 32px;
    height: 32px;
    padding: 5px;
    border-radius: 8px;
    position: absolute;
    z-index: 101;
    cursor: pointer;
    transition: all .2s ease-in;
    display: flex;
    opacity: 0.7;
  
    &:hover {
      background: #a1a1a1;
    }
  }