main {
    padding-top: 40px;
}

.favorites__nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.favorites__nav-title {
    font-size: 28px;
    font-weight: 700;

    @media(max-width: 725px) {
        font-size: 22px;;
      }
}

.favorites__nav-back-btn {
    position: relative;
    z-index: 102;
}

.favorites__items {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    padding-bottom: 50px;

    @media(max-width: 725px) {
        
      }

    @media(max-width: 970px) {
    grid-template-columns: repeat(3, 1fr);
    }

    @media(max-width: 725px) {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 30px;
    }

    @media(max-width: 525px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.favorites__empty {
    font-size: 26px;
    text-align: center;
    padding-top: 80px;
}